
body{
    margin: 0 auto;
    padding: 0 1.5em;
}

img {
    margin:0 0.5em;
}

body, #footer {
    min-width: 200px;
    max-width: 800px;
    margin-left: 0;
    padding-left: 0;
}

#logo a, #logo a:visited {
    color: white;
    background-color: #CECAC3;
    font-size: 70%;
    float: left;
    padding: 5px 10px 5px 20px;
    margin-bottom: 20px;
}

#logo a:hover {
    text-decoration: none;
}

#sidebar {
    float:left;
    width: 130px;
    margin-left: 0px;
}

#sidebar li {
    padding: 5px 0;
}

#sidebar a:hover {
    text-decoration: none;
    background-color: #F2ECE1;
}

#main{
    float:left;
    max-width: 600px;
    margin-right: 0;
    margin-left: 20px;
    padding-bottom: 20px;
}

#footer{
    clear: both;
    margin-right: 0;
    padding-top: 15px;
    border-top: 1px #aaa dotted;
}

#footer {
    text-align: right;
}

#footer img {
    margin: 0 0 5px 0;
}


dl {
    margin-bottom: 15px;
    clear: both;
}

