
body{
    margin: 0 auto;
    padding: 0 1.5em;
}

img {
    margin:0 0.5em;
}

body, #footer {
    min-width: 200px;
    max-width: 800px;
}

#logo a, #logo a:visited {
    color: gray;
    font-size: 160%;
    float:left;
    width: 100%;
    padding: 20px;
}

#logo a:hover {
    text-decoration: none;
}

#sidebar {
    float:left;
    width: 100px;
    padding-right: 15px;
    margin-right: 15px;}

#sidebar li {
    padding: 5px 0;
}

#sidebar li a {
    padding: 5px;
}

#sidebar a:hover {
    text-decoration: none;
    background-color: #F2ECE1;
}

#main{
    float:left;
    max-width: 600px;
    margin-right: 0;
    padding-bottom: 20px;
}

#footer{
    clear: both;
    margin-right: 0;
    padding-top: 15px;
    border-top: 1px #aaa dotted;
}

#footer {
    text-align: right;
}

#footer img {
    margin: 0 0 5px 0;
}


dl {
    margin-bottom: 15px;
    clear: both;
}

