

ul.horizontal {
    list-style: none;
    padding: 0;
}
ul.horizontal li{
    display: inline;
    padding-right: 20px;
}

ul.fakelist {
    list-style: none;
    margin: 10px 0 10px 20px;
    padding: 0;
}

h2#date {
    font-size:90%;
    padding-top: 0;
    color: #555;
    border-bottom: none;
    text-align: right;
}

img.border {
    border: 1px solid lightgray;
}

ol.articles {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ol.articles li {
    padding-bottom: 2em;
}
