
body {
    font-family: Garamond, Georgia, serif;;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6, #sidebar, #footer{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
    font-weight: normal;
    border-bottom: none;
    color: #3d3d3d;
    clear: both;
}

h1 {
    font-size: 175%;
    padding-top: 0em;
    font-variant: small-caps;
    border-bottom: none;
    color: gray;
}

h2, h2 a {
    font-size: 115%;
    padding-top: 1em;
}

h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #ccc;
}


h3, h3 a {
    font-size: 100%;
    color: #ad3800;
    padding-top: 0.5em;
}

h4, h4 a {
    color: #666;
    font-weight: bold;
}

dd p {
    margin-top: 0px;
}

dd ul, dd table {
    margin-bottom: 10px;
}

dd {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

a {
    color: #F0963A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th {
    text-align: left;
    padding-right: 5px;
}

pre, code, cite {
    font-family: "Courier New", Courier, monospace;
    font-style: normal;
    font-size: 80%;
    padding: 5px;
    color: #333;
/*    overflow: auto;*/
}

code {
    background-color: #eee;
}

pre {
    background-color: #f2f2f2;
    border-left: 1px solid #aaa;
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}

#footer {
    font-size: 80%;
}

