h1, h2, h3, h4, h5, h6, p {
    line-height: 1.5;
}
h1, h2, h3, h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}

h3, h4, h5, h6 {
    color: gray;
}

img {
    padding: 20px;
}

a {
    color: #428bca;
}

a.image-reference, a.image-reference:hover {
    border-bottom: none;
}

img.sidebar {
    max-width: 100%;
    padding: 5px 10px;
}


div#about {
    overflow: hidden;
    padding-left: 0px;
    padding-top: 15px;
}

p.sidebar{
    margin: 5px 0px;
    font-size: 85%;
}

pre {
    margin: 20px 0px;
}

tt, literal-block, code {
    color: #d00;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 2px 4px;
}

.panel-body {
    padding: 15px 0px;
}

.split-left {
    float: left;
    width: 50%;
}

.split-right {
    float: right;
    width: 50%;
}
